html {
  background: url('../images/wavegrid.png');
  font-family: sans-serif;
  position: relative;
}

body {
  padding: 140px 0 90px;
}

.smallify {
  font-size: .6em;
}

.smallify a {
  text-decoration: underline;
}

header {
  background: #669999;
  border: solid 4px white;
  border-radius: 12px;
  height: 80px;
  margin: 20px 2.5% 40px;
  position: fixed;
  top: 0;
  width: 95%;
  z-index: 90;
}

header nav {
  width: 900px;
  margin: 0 auto;
}

header h1 a {
  color: white;
  display: block;
  float: left;
  font-family: 'Special Elite', cursive;
  line-height: 110px;
  text-decoration: none;
  font-size: 48px;
  font-weight: normal;
}

header nav ul {
  display: block;
  float: right;
  margin: 0 auto;
  text-align: center;
  height: 80px;
  line-height: 120px;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px 0;
  vertical-align: bottom;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

header nav ul li a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #669999;
}

a:hover {
  text-decoration: underline;
}

.container {
  clear: both;
  width: 900px;
  margin: 0 auto;
}

.green {
  color: #669999;
}

.haiku p, p.empty {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 48px;
  color: #669999;
  line-height: 1.6em;
}

.login h2 {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 32px;
  color: #669999;
  margin: 0 0 30px;
}

.login h2 a {
  text-decoration: underline;
}

h2 {
  font-family: 'Special Elite', cursive;
  text-align: center;
  color: #669999;
  font-size: 32px;
  margin: 0 0 30px;
}

.login h3, .create h3, h4 {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 28px;
  color: red;
  margin: 0 0 20px;
}

.haiku ul {
  margin: 26px 0 0;
  text-align: center;
}

.haiku ul li {
  display: inline-block;
  margin: 0 12px;
}

.haiku a {
  text-decoration: none;
  color: #669999;
  font-weight: normal;
}

.haiku a:hover {
  text-decoration: underline;
}

.haiku_list {
  margin: 0 0 100px;
}

.haiku p.likes {
  font-family: 'Special Elite', cursive;
  color: #669999;
  font-size: 18px;
  line-height: 1.6em;
  margin: 18px 0 24px;
  text-align: center;
}

.haiku .date {
  font-size: .8em;
  margin: 0 0 30px;
}

form {
  padding: 0 90px;
}

input {
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  width: 680px;
}

button {
  background: #669999;
  border: none;
  padding: 12px;
  color: white;
  font-size: 1.2em;
}

button:hover {
  background: black;
  cursor: pointer;
  box-shadow: -2px 2px 5px #669999;
}

p#session_user {
  text-align: center;
  color: #669999;
  font-size: .9em;
  margin: 40px;
}

#pager {
  background: #669999;
  border: solid 4px white;
  border-radius: 12px;
  height: 40px;
  margin: 90px 2.5% 20px;
  padding: 12px 0;
  position: fixed;
    bottom: 0;
  width: 95%;
}

.pagination {
  margin: 15px 0 0;
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 1.2em;
}

.pagination a, .pagination .disabled, .pagination .current {
  padding: 0 20px;
  color: white;
  font-weight: normal;
}

.pagination .current, .pagination .disabled {
  font-weight: normal;
  color: #003333;
}

#permalink {
  width: 720px;
  background: gray;
  padding: 36px 30px 26px;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -370px;
  box-shadow: -2px 2px 5px #669999;
  border-radius: 12px;
}

#permalink a {
  color: white;
  position: relative;
  bottom: 12px;
}

#liked_by {
  width: 720px;
  background: white;
  padding: 36px 30px 26px;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -370px;
  box-shadow: -2px 2px 5px #669999;
  border-radius: 12px;
}

#liked_by a {
  color: gray;
}

#liked_by ul li {
  font-size: 1.6em;
  font-family: 'Special Elite', cursive;
  padding: 0 0 14px;
  text-align: center;
  color: #669999;
}

ul li.liked_by_gray {
  color: gray !important;
}

.hidden {
  visibility: hidden;
}

.comment_list {
  background: white;
  border-radius: 12px;
  margin: 40px 0;
  padding: 18px 0 12px;
  width: 100%;
}

.comment_list h2 {
  color: gray;
  padding: 18px 0 0;
}

.comment_list h2.none {
  position: relative;
  top: 10px;
}

.comments #comment_sign_in {
  font-size: 18px;
}

.comment_list ul {
  margin: 0 0 30px;
}

.comment_list ul li {
  color: gray;
  display: block;
  font-family: 'Special Elite', cursive;
  font-size: 32px;
  line-height: 1.4em;
  margin: 0 auto;
  width: 870px;
}

.comment_list ul li.comment_author {
  color: black;
  font-size: 14px;
  margin: 12px 0 0;
}

li iframe {
  position: relative;
  top: 3px;
}

p.comment_posted_by {
  color: gray;
  font-size: .7em;
}

p.comment_link_p {
  height: 80px;
  margin-top: -20px;
}

p.comment_link_p a.comment_link {
  color: gray;
  font-size: .5em;
  text-decoration: underline;
}

a.twitter_link {
  background: url("../images/Twitter-Button.png");
  display: block;
  height: 25px;
  position: relative;
  text-indent: -999999px;
  top: -7px;
  width: 88px;
}

a.twitter_link:hover {
  box-shadow: 0px 0px 30px white;
}