<h2><%= @title %></h2>

<% if @haikus.count == 0 %>
  <p class="empty" >You have not liked any haikus</p>
<% else %>

  <% @haikus.each do |haiku| %>

    <div class="haiku haiku_list">

      <% if haiku.likes.count == 1 %>
        <p class="likes"><%= haiku.likes.count %> like</p>
      <% else %>
        <p class="likes"><%= haiku.likes.count %> likes</p>
      <% end %>

      <%= erb :single, :locals => {:haiku => haiku} %>

    </div>

  <% end %>

<% end %>