<div class="container create">

  <% if @errors %>
    <h3><%= @errors %></h3>
  <% end %>

  <form name="new_haiku" action="/create_haiku" method="post">
    <input class="textbox" type="text" name="line_1" placeholder="Line One (5 syllables)">
    <input class="textbox" type="text" name="line_2" placeholder="Line Two (7 syllables)">
    <input class="textbox" type="text" name="line_3" placeholder="Line Three (5 syllables)">
    <button type="submit" value="login">Create Haiku</button>
  </form>

</div>
