<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/reset.css">

  <link rel="stylesheet" href="/css/application.css">

  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Andrew's Haikus</title>

</head>

<body>

  <header>
    <nav>
      <h1><a id="home" href="/">Andrew's Haikus</a></h1>
      <ul>
        <% if current_user %>
          <% if current_user.admin == true %>
            <li class="head_nav"><a href="/create">Create New Haiku</a></li>
          <% end %>
        <% else %>
          <li class="head_nav"><a class="sign_in" href="/signin">Sign In</a></li>
        <% end %>
        <li class="head_nav"><a id="newest" href="/newest">Newest Haiku</a></li>
        <li class="head_nav"><a id="list_all" href="/all">All Haikus</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <div id="session">
    <% if current_user != nil %>
      <p id="session_user">
        You are logged in as <a id="user_page" href="/user/<%= current_user.id %>"><%= current_user.full_name %></a>, <a id="logout" href="/logout">Log Out</a>
      </p>
    <% end %>
  </div>

  <div id="pager">
    <% if @haikus %>
    <%= will_paginate @haikus %>
    <% end %>
  </div>

</body>
</html>
