<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/reset.css">

  <link rel="stylesheet" href="/css/application.css">

  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Andrew's Haikus</title>

</head>

<body>

  <header>
    <nav>
      <h1><a href="/">Andrew's Haikus</a></h1>
      <ul>
        <li class="head_nav"><a id="newest" href="/newest">Newest Haiku</a></li>
        <!-- <li class="head_nav"><a id="list_pop" href="/popular">Most Popular</a></li> -->
        <li class="head_nav"><a id="list_all" href="/all">All Haikus</a></li>
        <% if current_user %>
          <% if current_user.id == 1 %>
            <li class="head_nav"><a href="/create">Create New Haiku</a></li>
          <% end %>
        <% else %>
          <li class="head_nav"><a id="sign_in" href="/narwhal">Sign In</a></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <% if current_user != nil %>
    <p id="session_user">
      You are logged in as <a href="/user/<%= current_user.id %>"><%= current_user.full_name %></a>, <a href="/logout">Log Out</a>
    </p>
  <% end %>

  <div id="pager">
    <% if @haikus %>
    <%= will_paginate @haikus %>
    <% end %>
  </div>

</body>
</html>
